.category-title {
  font-size: 38px;
  margin: 0 auto;
  text-align: center;
}

.category-container {
  padding: 2rem 0;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1100px) {
  .category-container {
    width: 95vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .category-container {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .category-container {
    width: 95vw;
    grid-template-columns: 1fr;
  }
}
